<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:-4%">
       <img src="~/Content/logoagromega.png" class="img-responsive"style="align-content:center" width="33%"/>
         
            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="navbar-nav">
                    <div class="col-sm-3">
                        <center><a class="nav-item nav-link" href="@Url.Action("Index","Home")">Home</a></center>
                    </div>
                    <div class="col-sm-3">
                        <center><a class="nav-item nav-link" href="@Url.Action("Index", "CicloLunar")">Ciclo Lunar</a></center>
                    </div>
                    <div class="col-sm-3">
                        <center> <a class="nav-item nav-link" href="@Url.Action("Index", "Distrito")">Distrito</a></center>
                    </div>
                    <div class="col-sm-3">
                        <center><a class="nav-item nav-link" href="@Url.Action("Index", "Noticias")">Noticias</a></center>
                    </div>
                    <div class="col-sm-3">
                        <center><a class="nav-item nav-link" href="@Url.Action("Index", "Produccions")">Productos</a></center>
                    </div>
                    </div>

            </div>
    </nav>




    
    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
