@model IEnumerable<Agromega.Models.Precio_Actual>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produccion.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @ViewBag.prod
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Año)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>

        </tr>
    }

</table>