@model IEnumerable<Agromega.Models.Produccion>
@using Agromega.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div style="float:left;width:30%">
    
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.DropDownList("Cultivo", ViewData["TipoCultivo"] as SelectList, htmlAttributes: new { @id = "CultivoId", @class = "form-control"})
        <br />
        @Html.DropDownList("TipoSuelo", ViewData["TipoSuelo"] as SelectList, htmlAttributes: new { @id = "TipoSueloId", @class = "form-control"})
        <br />
        <input type="submit" value="Buscar" />
    }
    
</div>
<div style="float:right;width:70%; align-content:center">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TipoClima.NombreClima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSuelo.NombreTipoSuelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cultivo.NombreCultivo)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoClima.NombreClima)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoSuelo.NombreTipoSuelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cultivo.NombreCultivo)
                </td>
            </tr>
        }

    </table>
</div>