@model IEnumerable<Agromega.Models.Produccion>
@using Agromega.Models;

<br /><br /><br />
<div style="width:100%">
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="row">
        <div class="col-md-5">
            <h5><strong>Tipo de Cultivo</strong></h5>
            @Html.DropDownList("Cultivo", ViewData["TipoCultivo"] as SelectList, htmlAttributes: new { @id = "CultivoId", @class = "form-control" })
            <br />
            <h5><strong>Tipo de Suelo</strong></h5>
            @Html.DropDownList("TipoSuelo", ViewData["TipoSuelo"] as SelectList, htmlAttributes: new { @id = "TipoSueloId", @class = "form-control" })
            <br />
            <input type="submit" value="Buscar" class="btn" style="margin-left:25%" />
        </div>
        <div class="col-md-5">
            <img src="~/Content/clima.jpg" style="align-self:center" />

        </div>

    </div>

}

    
</div>
<div style="width:100%; align-content:center">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Producto")
            </th>

            <th>
                @Html.DisplayName("Clima óptimo")
            </th>
            <th>
                @Html.DisplayName("Tipo suelo")
            </th>
            <th>
                @Html.DisplayName("Tipo de cultivo")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                   <a href="@Url.Action("Details", "Produccions", new { id=item.ProduccionId })">@Html.DisplayFor(modelItem=>item.NombreProducto)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoClima.NombreClima)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoSuelo.NombreTipoSuelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cultivo.NombreCultivo)
                </td>
               
            </tr>
        }

    </table>
</div>